@{
    ViewBag.Title = "This is about Patrick Hackett, ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Patrick Hackett. My major is MIS and Business Anayltics. I am from cleveland Ohio, but moving to Charlotte NC after graduation.
   My favorite sports team is the Cleveland Browns. I will be working for KPMG after graduation in IT Audit & Assurance. I have a dog named Luna. I have 2 older sisters.
    I started off my career at OU as a marketing major but have changed that and this change opened up opportunities I would have never got otherwise.</p>
