@{
    ViewBag.Title = "Contact Patrick";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Patrick Hackett<br />
    40 S Court Street, Apt 203, Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.668.3379
</address>

<address>
    <strong>Email me:</strong>   <a href="mailto:ph554316@ohio.edu">Patrick Hackett</a><br />
</address>